html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
header
body{
  background-color:dimgrey;
  margin-bottom: 60px;
  max-width: 80%;
  margin-left:10%;
  margin-right:10%;
  background-color:white;
  text-align:center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
container {
    max-width: 80%;
    background-color: white;
    text-align: center;
}
footer{
    background-color:blue;
}
pb-3 {
    text-align: center;
}
form{
    
}