<h2>Вход</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<form method="post">
    <div>Логин: <input name="login" /></div>
    <p></p>
    <div>Пароль: <input name="password" type="password" /></div>
    <p></p>
    <button type="submit">Войти</button>
</form>
<p><a asp-action="Register">Регистрация</a></p>