<h2>Регистрация</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<form method="post">
    <div>Логин: <input name="login" /></div>
    <p></p>
    <div>Пароль: <input name="password" type="password" /></div>
    <p></p>
    <div>Имя/ник: <input name="name" /></div>
    <p></p>
    <button type="submit">Зарегистрироваться</button>
</form>